{
    "extends": [
        "@antfu",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "indent": [
            "error",
            4
        ],
        "no-console": 0,
        "promise/param-names": "off",
        "prefer-rest-params": "off",
        "@typescript-eslint/no-this-alias": "off",
        "antfu/if-newline": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/ban-ts-ignore": "off",
        "eslint-comments/no-unlimited-disable": "off",
        "arrow-body-style": "off",
        "prefer-arrow-callback": "off",
        "quotes": 0,
        "prefer-const": 0,
        "handle-callback-err": 0,
        "no-fallthrough": 0,
        "camelcase": 0,
        "prefer-promise-reject-errors": 0,
        "comma-dangle": [2, "only-multiline"],
        "no-useless-computed-key": 0,
        "semi": [2, "always"],
        "space-before-function-paren": [0, "always"],
        "no-alert": 2,
        "new-cap": 0,
        "no-eq-null": 0,
        "eqeqeq": [0, "always", { "null": "ignore" }],
        "no-param-reassign": 0,
        "no-invalid-this": 0,
        "quote-props": 0,
        "no-misleading-character-class": 0,
        "no-useless-escape": 0,
        "import/no-absolute-path": 0,
        "no-case-declarations": 0,
        "standard/no-callback-literal": 0,
        "no-empty-pattern": 0,
        "no-async-promise-executor": 0,
        "spaced-comment": 0,
        "no-empty": 2,
        "no-shadow": 0,
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
        "space-infix-ops": 2,
        "no-var": 1,
        "no-const-assign": 2,
        "no-unused-vars": "off",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "eol-last": "error"
    }
}